{% extends 'base.html' %}
{% block content %}
<!-- 자유게시판 글 작성-->
<div class="container">
    <h5 class="my-3 border-bottom pb-2">자유게시판</h5>
    <form method="post" class="my-3"> <!-- freeboard_form에 입력한 데이터 전송방식 post-->
        {{ form.csrf_token }}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="mb-3">   <!--수작업 폼 + 부트스트랩 클래스 사용-->
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                value="{{ form.subject.data or '' }}"> <!--폼 전송 과정에서 오류 발생시 이미 입력한 값 유지-->
        </div>
        <div class="mb-3">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.data or '' }}</textarea> <!--폼 전송 과정에서 오류 발생시 이미 입력한 값 유지-->
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
{% endblock %}