<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- 부트스트랩 이외 CSS -->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  추후 추가될 스타일 시트 넣기 -->
    <title>CrossMe</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}  
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- Bootstrap JS-->
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>  <!-- 나중에 소개.html 하단에 있는 js 추가 예정 -->
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>